.formInput{
    display: flex;
    flex-direction: column;
    width: 350px;
}

.formInput input{
    padding: 10px;
    margin: 5px 0px;
    border-radius: 5px;
    border: 1px solid gray;
}

.formInput label{
    font-size: 10px;
    color: gray;
}

.formInput span{
    font-size: 10px;
    color: red;
    display: none;
}

.formInput input:invalid[focused="true"]{
    border: 1px solid red;
}

.formInput input:invalid[focused="true"] ~ span{
    display: block;
}