.border-right {
  border-right: 1px solid gray;
}

.edit-profile {
  cursor: pointer !important;
  color: black;
  width: 100px;
  text-decoration: underline !important;
}

.handle-button {
  width: 200px;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  left: 215px;
}

.form_current_password input {
  width: 100%;
}

.form_current_password div button {
  bottom: 0;
  right: 0;
}

.form_change_password input {
  width: 100%;
}

.form_change_password div button {
  bottom: 0;
  right: 0;
}
